<tr>
  <td>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tbody>
        <tr>
          <td bgcolor="#F7F6F2">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tbody>
                <tr>
                  <td width="25">&nbsp;</td>
                  <td>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tbody>
                        <tr>
                          <td height="25">&nbsp;</td>
                        </tr>
                        <tr>
                          <td>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                              <tbody>
                                <tr>
                                  <td>
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                      <tbody>
                                        <tr>
                                          <td width="235" align="center">
                                            <img src="./img/DFS.png" width="193" alt="DFS" style="display:block;" />
                                          </td>
                                          <td>
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                              <tbody>
                                                <tr>
                                                  <td bgcolor="#5D0F3F" width="1">
                                                    <img src="./img/edm-chances-copy@2x-pixelborder_08.jpg" width="1" height="1" alt="" style="display:block;" />
                                                  </td>
                                                  <td>
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                      <tbody>
                                                        <tr>
                                                          <td width="30">
                                                            &nbsp;
                                                          </td>
                                                          <td>
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                              <tbody>
                                                                <tr>
                                                                  <td align="center" style="font-family:&#39;Open Sans&#39;; font-size:18px; color:#5D0F3F; line-height:18px;">
                                                                    DFS
                                                                  </td>
                                                                </tr>
                                                                <tr>
                                                                  <td height="10"></td>
                                                                </tr>
                                                                <tr>
                                                                  <td align="center" style="font-family: &#39;Open Sans&#39;; font-size:20px; color:#bd9441; line-height:24px; letter-spacing:1px;">
                                                                    S$5 OFF
                                                                  </td>
                                                                </tr>
                                                                <tr>
                                                                  <td height="10"></td>
                                                                </tr>
                                                                <tr>
                                                                  <td align="center" style="font-family:&#39;Open Sans&#39;; font-size:14px; color:#7c7c7c">
                                                                    Get S$5 off with a minimum spend of S$30 (excluding tobacco) in a single receipt
                                                                  </td>
                                                                </tr>
                                                                <tr>
                                                                  <td height="10"></td>
                                                                </tr>
                                                                <tr>
                                                                  <td align="center" style="font-family:&#39;Open Sans&#39;; font-size:12px; color:#7C7C7C; font-style:italic;">
                                                                    Terms and conditions apply.
                                                                  </td>
                                                                </tr>
                                                              </tbody>
                                                            </table>
                                                          </td>
                                                          <!-- <td width="25">&nbsp;</td> -->
                                                        </tr>
                                                      </tbody>
                                                    </table>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>

                        <tr>
                          <td align="center">
                            <img src="./img/redeem-btn.png" width="200" height="24" alt="" />
                          </td>
                        </tr>
                        <tr>
                          <td height="30">&nbsp;</td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                  <td width="25">&nbsp;</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td height="30">&nbsp;</td>
        </tr>
        <tr>
          <td>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tbody>
                <tr>
                  <td>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tbody>

                        <tr>
                          <td style="font-family:&#39;Open Sans&#39;; font-size:10px; color:#ffffff;">
                            Terms &amp; Conditions
                          </td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>

                        <tr>
                          <td style="font-family:&#39;Open Sans&#39;; font-size:10px; color:#ffffff;">• Voucher is valid until 31 December 2019 (or while stocks last, whichever is earlier) at all DFS Wines & Spirits stores in Arrival & Departure transit of Singapore Changi Airport only.</td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td style="font-family:&#39;Open Sans&#39;; font-size:10px; color:#ffffff;">• Actual voucher printout (only from self-help kiosk) or email confirmation must be presented before payment.</td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td style="font-family:&#39;Open Sans&#39;; font-size:10px; color:#ffffff;">• Voucher is only redeemable after the purchase qualifier stated is met. Voucher is not valid for purchases of Tobacco.</td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td style="font-family:&#39;Open Sans&#39;; font-size:10px; color:#ffffff;">• Only one redemption per receipt per passport.</td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td style="font-family:&#39;Open Sans&#39;; font-size:10px; color:#ffffff;">• Limited to one (1) voucher per transaction, strictly no accumulation or combination of vouchers upon redemption</td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td style="font-family:&#39;Open Sans&#39;; font-size:10px; color:#ffffff;">• Voucher cannot be used in conjunction with any other promotions or with any privilege discounts such as PPS or TATC.</td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td style="font-family:&#39;Open Sans&#39;; font-size:10px; color:#ffffff;">• Voucher cannot be exchanged for cash, points, store credits, DFS gift cards or any other membership points.</td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td style="font-family:&#39;Open Sans&#39;; font-size:10px; color:#ffffff;">• No refund on unused portion of voucher and no replacement if voucher is lost, stolen or misplaced.</td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td style="font-family:&#39;Open Sans&#39;; font-size:10px; color:#ffffff;">• DFS reserves the right to add, amend or withdraw and terms and conditions it deems fit without prior notice.</td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td style="font-family:&#39;Open Sans&#39;; font-size:10px; color:#ffffff;">• DFS's interpretation of these Terms & Conditions shall be final.</td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td style="font-family:&#39;Open Sans&#39;; font-size:10px; color:#ffffff;">• Other terms and conditions may apply.</td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td height="30">&nbsp;</td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>