<tr>
  <td>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tbody>
        <tr>
          <td bgcolor="#F7F6F2">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tbody>
                <tr>
                  <td width="25">&nbsp;</td>
                  <td>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tbody>
                        <tr>
                          <td height="25">&nbsp;</td>
                        </tr>
                        <tr>
                          <td>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                              <tbody>
                                <tr>
                                  <td>
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                      <tbody>
                                        <tr>
                                          <td width="235" align="center">
                                            <img src="./img/Luvenus.png" width="193" alt="Luvenus" style="display:block;" />
                                          </td>
                                          <td>
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                              <tbody>
                                                <tr>
                                                  <td bgcolor="#5D0F3F" width="1">
                                                    <img src="./img/edm-chances-copy@2x-pixelborder_08.jpg" width="1" height="1" alt="" style="display:block;" />
                                                  </td>
                                                  <td>
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                      <tbody>
                                                        <tr>
                                                          <td width="30">
                                                            &nbsp;
                                                          </td>
                                                          <td>
                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                              <tbody>
                                                                <tr>
                                                                  <td align="center" style="font-family:&#39;Open Sans&#39;; font-size:18px; color:#5D0F3F; line-height:18px;">
                                                                    Luvenus
                                                                  </td>
                                                                </tr>
                                                                <tr>
                                                                  <td height="10"></td>
                                                                </tr>
                                                                <tr>
                                                                  <td align="center" style="font-family: &#39;Open Sans&#39;; font-size:20px; color:#bd9441; line-height:24px; letter-spacing:1px;">
                                                                    S$50 OFF
                                                                  </td>
                                                                </tr>
                                                                <tr>
                                                                  <td height="10"></td>
                                                                </tr>
                                                                <tr>
                                                                  <td align="center" style="font-family:&#39;Open Sans&#39;; font-size:14px; color:#7c7c7c">
                                                                    Get $50 off on any Diamond Jewellery with no min. purchase
                                                                  </td>
                                                                </tr>
                                                                <tr>
                                                                  <td height="10"></td>
                                                                </tr>
                                                                <tr>
                                                                  <td align="center" style="font-family:&#39;Open Sans&#39;; font-size:12px; color:#7C7C7C; font-style:italic;">
                                                                    Terms and conditions apply.
                                                                  </td>
                                                                </tr>
                                                              </tbody>
                                                            </table>
                                                          </td>
                                                          <!-- <td width="25">&nbsp;</td> -->
                                                        </tr>
                                                      </tbody>
                                                    </table>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>

                        <tr>
                          <td align="center">
                            <img src="./img/redeem-btn.png" width="200" height="24" alt="" />
                          </td>
                        </tr>
                        <tr>
                          <td height="30">&nbsp;</td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                  <td width="25">&nbsp;</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td height="30">&nbsp;</td>
        </tr>
        <tr>
          <td>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tbody>
                <tr>
                  <td>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tbody>

                        <tr>
                          <td style="font-family:&#39;Open Sans&#39;; font-size:10px; color:#ffffff;">
                            Terms &amp; Conditions
                          </td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td style="font-family:&#39;Open Sans&#39;; font-size:10px; color:#ffffff;">• Voucher is valid until 31 December 2019 (or while stocks last, whichever is earlier) at Terminal 3 and Terminal 4, Luvenus stores in Singapore Changi Airport only.</td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td style="font-family:&#39;Open Sans&#39;; font-size:10px; color:#ffffff;">• Actual voucher printout (only from self-help kiosk) or email confirmation must be presented before payment.</td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td style="font-family:&#39;Open Sans&#39;; font-size:10px; color:#ffffff;">• Valid on regular-priced item only.</td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td style="font-family:&#39;Open Sans&#39;; font-size:10px; color:#ffffff;">• Valid for one (1) time use only and any unutilised amount will not be refunded.</td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td style="font-family:&#39;Open Sans&#39;; font-size:10px; color:#ffffff;">• Limited to one (1) voucher per transaction.</td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td style="font-family:&#39;Open Sans&#39;; font-size:10px; color:#ffffff;">• Not exchangeable for cash.</td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td style="font-family:&#39;Open Sans&#39;; font-size:10px; color:#ffffff;">• No replacement will be made for damaged or lost vouchers.</td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td style="font-family:&#39;Open Sans&#39;; font-size:10px; color:#ffffff;">• We reserve the rights to change or amend terms and conditions at any time without prior notice.</td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td style="font-family:&#39;Open Sans&#39;; font-size:10px; color:#ffffff;">• All LUVENUS Diamonds come with international certificates</td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td style="font-family:&#39;Open Sans&#39;; font-size:10px; color:#ffffff;">• Other terms and conditions may apply.</td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td height="30">&nbsp;</td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>