<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- saved from url=(0075)http://dev.ogilvyone.com.sg/changi/millionaire_edms/millionaire2/index.html -->
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <meta name="viewport" content="width=device-width" />
  <!--[if gt IE 8]><!-->
  <link href="./css/styles.css" rel="stylesheet" />
  <!--<![endif]-->

  <style>
    /* cyrillic-ext */
    @font-face {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 300;
      src: local("Open Sans Light"), local("OpenSans-Light"),
        url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN_r8OX-hpOqc.woff2) format("woff2");
      unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF,
        U+A640-A69F, U+FE2E-FE2F;
      mso-font-alt: "Arial";
    }

    /* cyrillic */
    @font-face {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 300;
      src: local("Open Sans Light"), local("OpenSans-Light"),
        url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN_r8OVuhpOqc.woff2) format("woff2");
      unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
      mso-font-alt: "Arial";
    }

    /* greek-ext */
    @font-face {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 300;
      src: local("Open Sans Light"), local("OpenSans-Light"),
        url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN_r8OXuhpOqc.woff2) format("woff2");
      unicode-range: U+1F00-1FFF;
      mso-font-alt: "Arial";
    }

    /* greek */
    @font-face {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 300;
      src: local("Open Sans Light"), local("OpenSans-Light"),
        url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN_r8OUehpOqc.woff2) format("woff2");
      unicode-range: U+0370-03FF;
      mso-font-alt: "Arial";
    }

    /* vietnamese */
    @font-face {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 300;
      src: local("Open Sans Light"), local("OpenSans-Light"),
        url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN_r8OXehpOqc.woff2) format("woff2");
      unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
      mso-font-alt: "Arial";
    }

    /* latin-ext */
    @font-face {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 300;
      src: local("Open Sans Light"), local("OpenSans-Light"),
        url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN_r8OXOhpOqc.woff2) format("woff2");
      unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
        U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
      mso-font-alt: "Arial";
    }

    /* latin */
    @font-face {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 300;
      src: local("Open Sans Light"), local("OpenSans-Light"),
        url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN_r8OUuhp.woff2) format("woff2");
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
        U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193,
        U+2212, U+2215, U+FEFF, U+FFFD;
      mso-font-alt: "Arial";
    }

    /* cyrillic-ext */
    @font-face {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 400;
      src: local("Open Sans Regular"), local("OpenSans-Regular"),
        url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFWJ0bbck.woff2) format("woff2");
      unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF,
        U+A640-A69F, U+FE2E-FE2F;
      mso-font-alt: "Arial";
    }

    /* cyrillic */
    @font-face {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 400;
      src: local("Open Sans Regular"), local("OpenSans-Regular"),
        url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFUZ0bbck.woff2) format("woff2");
      unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
      mso-font-alt: "Arial";
    }

    /* greek-ext */
    @font-face {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 400;
      src: local("Open Sans Regular"), local("OpenSans-Regular"),
        url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFWZ0bbck.woff2) format("woff2");
      unicode-range: U+1F00-1FFF;
      mso-font-alt: "Arial";
    }

    /* greek */
    @font-face {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 400;
      src: local("Open Sans Regular"), local("OpenSans-Regular"),
        url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVp0bbck.woff2) format("woff2");
      unicode-range: U+0370-03FF;
      mso-font-alt: "Arial";
    }

    /* vietnamese */
    @font-face {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 400;
      src: local("Open Sans Regular"), local("OpenSans-Regular"),
        url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFWp0bbck.woff2) format("woff2");
      unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
      mso-font-alt: "Arial";
    }

    /* latin-ext */
    @font-face {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 400;
      src: local("Open Sans Regular"), local("OpenSans-Regular"),
        url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFW50bbck.woff2) format("woff2");
      unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
        U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
      mso-font-alt: "Arial";
    }

    /* latin */
    @font-face {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 400;
      src: local("Open Sans Regular"), local("OpenSans-Regular"),
        url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0b.woff2) format("woff2");
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
        U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193,
        U+2212, U+2215, U+FEFF, U+FFFD;
      mso-font-alt: "Arial";
    }

    /* cyrillic-ext */
    @font-face {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 600;
      src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"),
        url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UNirkOX-hpOqc.woff2) format("woff2");
      unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF,
        U+A640-A69F, U+FE2E-FE2F;
      mso-font-alt: "Arial";
    }

    /* cyrillic */
    @font-face {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 600;
      src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"),
        url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UNirkOVuhpOqc.woff2) format("woff2");
      unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
      mso-font-alt: "Arial";
    }

    /* greek-ext */
    @font-face {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 600;
      src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"),
        url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UNirkOXuhpOqc.woff2) format("woff2");
      unicode-range: U+1F00-1FFF;
      mso-font-alt: "Arial";
    }

    /* greek */
    @font-face {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 600;
      src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"),
        url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UNirkOUehpOqc.woff2) format("woff2");
      unicode-range: U+0370-03FF;
      mso-font-alt: "Arial";
    }

    /* vietnamese */
    @font-face {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 600;
      src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"),
        url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UNirkOXehpOqc.woff2) format("woff2");
      unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
      mso-font-alt: "Arial";
    }

    /* latin-ext */
    @font-face {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 600;
      src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"),
        url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UNirkOXOhpOqc.woff2) format("woff2");
      unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
        U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
      mso-font-alt: "Arial";
    }

    /* latin */
    @font-face {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 600;
      src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"),
        url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UNirkOUuhp.woff2) format("woff2");
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
        U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193,
        U+2212, U+2215, U+FEFF, U+FFFD;
      mso-font-alt: "Arial";
    }

    /* cyrillic-ext */
    @font-face {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 700;
      src: local("Open Sans Bold"), local("OpenSans-Bold"),
        url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOX-hpOqc.woff2) format("woff2");
      unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF,
        U+A640-A69F, U+FE2E-FE2F;
      mso-font-alt: "Arial";
    }

    /* cyrillic */
    @font-face {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 700;
      src: local("Open Sans Bold"), local("OpenSans-Bold"),
        url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOVuhpOqc.woff2) format("woff2");
      unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
      mso-font-alt: "Arial";
    }

    /* greek-ext */
    @font-face {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 700;
      src: local("Open Sans Bold"), local("OpenSans-Bold"),
        url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOXuhpOqc.woff2) format("woff2");
      unicode-range: U+1F00-1FFF;
      mso-font-alt: "Arial";
    }

    /* greek */
    @font-face {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 700;
      src: local("Open Sans Bold"), local("OpenSans-Bold"),
        url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOUehpOqc.woff2) format("woff2");
      unicode-range: U+0370-03FF;
      mso-font-alt: "Arial";
    }

    /* vietnamese */
    @font-face {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 700;
      src: local("Open Sans Bold"), local("OpenSans-Bold"),
        url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOXehpOqc.woff2) format("woff2");
      unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
      mso-font-alt: "Arial";
    }

    /* latin-ext */
    @font-face {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 700;
      src: local("Open Sans Bold"), local("OpenSans-Bold"),
        url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOXOhpOqc.woff2) format("woff2");
      unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
        U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
      mso-font-alt: "Arial";
    }

    /* latin */
    @font-face {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 700;
      src: local("Open Sans Bold"), local("OpenSans-Bold"),
        url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOUuhp.woff2) format("woff2");
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
        U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193,
        U+2212, U+2215, U+FEFF, U+FFFD;
      mso-font-alt: "Arial";
    }
  </style>

  <title>Changi Millionaire</title>
</head>

<body>
  <table width="600" border="0" cellspacing="0" cellpadding="0" align="center">
    <tbody>
      <tr>
        <td bgcolor="#5D0F3F">
          <img src="./img/img-01.jpg" width="600" height="322" alt="" style="display:block; outline:0; margin:0; padding:0;" />
        </td>
      </tr>
      <tr>
        <td bgcolor="#5D0F3F">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tbody>
              <tr>
                <td width="40">&nbsp;</td>
                <td>
                  <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#5D0F3F">
                    <tbody>
<!-- start -->
{{> pashma }}

{{> airportpharmacy }}

{{> luvenus }}
<!-- end -->
                    </tbody>
                  </table>
                </td>
                <td width="40">&nbsp;</td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>

      <!-- footer v3 start -->
      <tr>
        <td bgcolor="3D0a29">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tbody>
              <tr>
                <td width="40">&nbsp;</td>
                <td>
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                      <tr height="32">
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td>
                          <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                              <tr>
                                <td>
                                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tbody>
                                      <tr>
                                        <td style="font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#ffffff;">
                                          OFFICIAL<br />CAR PARTNER
                                        </td>
                                        <td style="font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#ffffff;">
                                          OFFICIAL <br />PAYMENT PARTNER
                                        </td>
                                      </tr>
                                      <tr>
                                        <td height="15">
                                          <img src="./img/edm-chances-copy@2x-pixelborder_08.jpg" width="2" height="15" alt="" style="display:block" align="left" />
                                        </td>
                                        <td height="15">
                                          <img src="./img/edm-chances-copy@2x-pixelborder_08.jpg" width="2" height="15" alt="" style="display:block" align="left" />
                                        </td>
                                      </tr>
                                      <tr>
                                        <td align="left">
                                          <img src="./img/jaguar.png" width="71" height="32" alt="" />
                                        </td>
                                        <td align="left">
                                          <img src="./img/unionpay.png" width="59" height="38" alt="" />
                                        </td>
                                      </tr>
                                      <tr>
                                        <td height="20">
                                          <img src="./img/edm-chances-copy@2x-pixelborder_08.jpg" width="2" height="20" alt="" style="display:block" align="left" />
                                        </td>
                                        <td height="20">
                                          <img src="./img/edm-chances-copy@2x-pixelborder_08.jpg" width="2" height="20" alt="" style="display:block" align="left" />
                                        </td>
                                      </tr>
                                      <tr></tr>
                                    </tbody>
                                  </table>
                                </td>
                                <td width="30">&nbsp;</td>
                                <td valign="top" align="right">
                                  <table border="0" cellspacing="0" cellpadding="0">
                                    <tbody>
                                      <tr>
                                        <td height="30">
                                          <img src="./img/edm-chances-copy@2x-pixelborder_08.jpg" width="10" height="30" alt="" style="display:block" align="left" />
                                        </td>
                                        <td>
                                          <img src="./img/edm-chances-copy@2x-pixelborder_08.jpg" width="10" height="2" alt="" style="display:block" align="left" />
                                        </td>
                                        <td>
                                          <img src="./img/edm-chances-copy@2x-pixelborder_08.jpg" width="10" height="2" alt="" style="display:block" align="left" />
                                        </td>
                                      </tr>
                                      <tr>
                                        <td width="82" align="right" valign="bottom">
                                          <a href="https://www.ishopchangi.com/" target="_blank">
                                            <img src="./img/ishop-logo.png" width="82" height="33" alt="iShop Changi" style="display:block;" />
                                          </a>
                                        </td>
                                        <td width="15">
                                          <img src="./img/edm-chances-copy@2x-pixelborder_08.jpg" width="15" height="2" alt="" style="display:block" align="left" />
                                        </td>
                                        <td align="right" width="76" valign="bottom">
                                          <a href="http://www.changiairport.com/content/cacorp/en.html" target="_blank">
                                            <img src="./img/changi-airport-transparent.png" width="76" height="44" alt="Changi Airport" style="display:block;" align="right" />
                                          </a>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                              <tr>
                                <td width="90" style="font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#ffffff;">
                                  FOLLOW US ON
                                </td>
                              </tr>
                              <tr>
                                <td height="10">
                                  <img src="./img/edm-chances-copy@2x-pixelborder_08.jpg" width="2" height="10" alt="" style="display:block" align="left" />
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tbody>
                                      <tr>
                                        <td width="10">
                                          <a href="https://www.facebook.com/changiairport/" target="_blank">
                                            <img src="./img/facebook.png" width="25" height="24" alt="Facebook" style="display:block;" />
                                          </a>
                                        </td>
                                        <td width="5">&nbsp;</td>
                                        <td width="20">
                                          <a href="https://twitter.com/changiairport/" target="_blank"><img src="./img/twitter.png" width="25" height="24" alt="Twitter" style="display:block;" /></a>
                                        </td>
                                        <td width="5">&nbsp;</td>
                                        <td width="17">
                                          <a href="https://www.linkedin.com/company/changiairportgroup/" target="_blank"><img src="./img/linked-in.png" width="25" height="24" alt="LinkedIn" style="display:block;" /></a>
                                        </td>
                                        <td width="5">&nbsp;</td>
                                        <td width="19">
                                          <a href="https://www.youtube.com/changiairport/" target="_blank"><img src="./img/youtube.png" width="25" height="24" alt="YouTube" style="display:block;" /></a>
                                        </td>
                                        <td width="5">&nbsp;</td>
                                        <td width="22">
                                          <a href="https://www.instagram.com/changiairport/" target="_blank"><img src="./img/ig.png" width="25" height="24" alt="Instagram" style="display:block;" /></a>
                                        </td>
                                        <td width="5">&nbsp;</td>
                                        <td width="19">
                                          <a href="http://www.weibo.com/changiairport/" target="_blank"><img src="./img/weibo.png" width="25" height="24" alt="Weibo" style="display:block;" /></a>
                                        </td>
                                        <td>&nbsp;</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                              <tr>
                                <td height="5">&nbsp;</td>
                              </tr>
                              <tr>
                                <td width="280" style="font-family:&#39;Open Sans&#39;; font-size:9px; color:#ffffff; font-weight:300;">
                                  Any questions? Let us help you. Email:
                                  <a href="mailto:millionaire@changiairport.com" style="color:#ffffff;">millionaire@changiairport.com</a><br />
                                  <a href="http://dev.ogilvyone.com.sg/changi/millionaire_edms/millionaire2/index.html#" style="color:#ffffff;">How to Shop</a>
                                  |
                                  <a href="http://www.changiairport.com/" target="_blank" style="color:#ffffff;">Changi Airport</a>
                                  |
                                  <a href="http://www.changiairport.com/content/cacorp/en.html" target="_blank" style="color:#ffffff;">Changi Airport Group</a>
                                  |
                                  <a href="http://dev.ogilvyone.com.sg/changi/millionaire_edms/millionaire2/index.html#" style="color:#ffffff;">Terms &amp; Conditions</a><br /><br />
                                  Singapore Changi Airport, PO Box 168, Singapore 918146<br />© 2018 Changi Airport Group. All Rights Reserved.
                                </td>
                              </tr>
                              <tr>
                                <td height="32">&nbsp;</td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
                <td width="40">&nbsp;</td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <!-- footer v3 end -->
    </tbody>
  </table>
</body>

</html>